Use master;
go
CREATE DATABASE QuanLyThuVien;
go
Use QuanLyThuVien;

-- -------------------------------
-- Table 1: structure for Reader
-- -------------------------------
create table Reader (
	[Id] varchar(10) not null primary key,
	[LName] nvarchar(100) not null,
	[FName] nvarchar(20) not null,
	[boF] DateTime not null,
	[ReaderType] bit not null,
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of Reader
-- ----------------------------
insert into [Reader] ([Id], [LName], [FName], [boF], [ReaderType], [CreatedAt], [ModifiedAt])
values
('R01', N'Trần Văn' , N'A', '1970-12-11', 1, '2023-09-12', '2023-09-12'),
('R02', N'Nguyễn Thị', N'Hà', '1970-1-11', 1, '2023-09-10', '2023-09-10'),
('R03', N'Nguyễn Văn', N'Bưởi', '1970-2-11', 1, '2023-09-12', '2023-09-12'),
('R04', N'Nguyễn Thúc Hà', N'Tiên', '2010-4-11', 0, '2023-09-14', '2023-09-14'),
('R05', N'Lê Văn', N'Lực', '2010-07-11', 0, '2023-09-12', '2023-09-12'),
('R06', N'Lê Văn', N'Bảy', '2010-07-11', 0, '2023-09-12', '2023-09-12')

-- -------------------------------
-- Table 2: structure for Adult
-- -------------------------------
create table Adult (
	[IdReader] varchar(10) not null primary key,
	[Identify] varchar(12),
	[Address] nvarchar(100) not null,
	[City] nvarchar(100) not null,
	[Phone] varchar(12) not null,
	[ExpireDate] DateTime not null,
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
	
	foreign key ([IdReader]) references Reader([Id])
)

-- ----------------------------
-- Records of Adult
-- ----------------------------
insert into [Adult] ([IdReader], [Identify], [Address], [City], [Phone], [ExpireDate], [CreatedAt], [ModifiedAt])
values
('R01', '123456789012', N'Số 2, Lê Thắng Tôn', N'Khánh Hòa', '0935768249', '2024-09-12', '2023-09-12', '2023-09-12'),
('R02', '234567890123', N'Số 10 Trần Quý Cáp', N'Khánh Hòa', '0123222111', '2024-09-10', '2023-09-10', '2023-09-10'),
('R03', '345678901234', N'Số 3 Trần Nhân Tông', N'Khánh Hòa','0145333111', '2024-09-12', '2023-09-12', '2023-09-12')

-- -------------------------------
-- Table 3: structure for Child
-- -------------------------------
create table Child (
	[IdReader] varchar(10) not null primary key,
	[IdAdult] varchar(10) not null,
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
	
	foreign key ([IdReader]) references Reader([ID]),
	foreign key ([IdAdult]) references Adult([IdReader])
)

-- ----------------------------
-- Records of Child
-- ----------------------------
insert into [Child] ([IdReader], [IdAdult], [CreatedAt], [ModifiedAt])
values
	('R04', 'R01', '2023-09-14', '2023-09-14'),
	('R05', 'R01', '2023-09-12', '2023-09-12'),
	('R06', 'R02', '2023-09-12', '2023-09-12')

-- -------------------------------
-- Table 4: structure for Publisher
-- -------------------------------
create table Publisher (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(100) not null,
	[Phone] varchar(12) not null,
	[Address] nvarchar(100) not null,
)

-- ----------------------------
-- Records of Publisher
-- ----------------------------
insert into [Publisher]
values
('P01', N'NXB Kim Đồng', '0901931765', N'79 Hoàng Hoa Thám'),
('P02', N'NXB Kim Lân', '0901000765', N'79 Hoàng Hoa Thụ'),
('P03', N'NXB Hải Quân', '0101000765', N'79 Hoàng Hoa Hái')

-- -------------------------------
-- Table 5: structure for Category
-- -------------------------------
create table Category (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(50) not null,
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of Category
-- ----------------------------
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C01', N'Truyện tranh', 1, CAST(0x0000B07D00000000 AS DateTime), CAST(0x0000B07D00000000 AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C02', N'Tiểu thuyết', 1, CAST(0x0000B07E00000000 AS DateTime), CAST(0x0000B07E00000000 AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'C03', N'Luật Pháp', 1, CAST(0x0000B07F00000000 AS DateTime), CAST(0x0000B07F00000000 AS DateTime))

-- -------------------------------
-- Table 6: structure for Author
-- -------------------------------
create table Author (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(50) not null,
	[Description] ntext not null,
	[boF] DateTime not null,
	[Summary] ntext not null,
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of Author
-- ----------------------------
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A01', N'Nguyễn Nhật Ánh', N'Tác giả của nhiều tác phẩm văn học nổi tiếng như "Cho tôi xin một vé đi tuổi thơ", "Kính vạn hoa", "Tôi thấy hoa vàng trên cỏ xanh"', CAST(0x0000735800000000 AS DateTime), N'Tác giả nổi tiếng Việt Nam', 1, CAST(0x0000AB5500000000 AS DateTime), CAST(0x0000AB5500000000 AS DateTime))
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A02', N'Ngô Thị Thúy Vân', N'Tác giả của cuốn sách "Bí mật của tôi" được đánh giá cao về nội dung và phong cách viết', CAST(0x00008DF500000000 AS DateTime), N'Tác giả triển vọng', 1, CAST(0x0000AB3500000000 AS DateTime), CAST(0x0000AB3500000000 AS DateTime))
INSERT [dbo].[Author] ([Id], [Name], [Description], [boF], [Summary], [Status], [CreatedAt], [ModifiedAt]) VALUES (N'A03', N'Lê Minh Tú', N'Tác giả của cuốn sách "Sống thật lòng" đã gây được tiếng vang lớn trong giới trẻ', CAST(0x0000874E00000000 AS DateTime), N'Tác giả trẻ có tầm ảnh hưởng', 1, CAST(0x0000ACA300000000 AS DateTime), CAST(0x0000ACA300000000 AS DateTime))

-- -------------------------------
-- Table 7: structure for Translator
-- -------------------------------
create table Translator (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(50) not null,
	[Description] ntext not null,
	[boF] DateTime not null,
	[Summary] ntext not null,
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of Translator
-- ----------------------------


-- -------------------------------
-- Table 12: structure for BookStatus
-- -------------------------------
create table BookStatus (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(100) not null,
	[Description] ntext not null default(''),
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of BookStatus
-- ----------------------------
insert into [BookStatus] ([Id], [Name], [Description], [Status], [CreatedAt], [ModifiedAt])
values
	('BS1', N'Normal', N'The book is normal', 1, '2023-09-01 15:00', '2023-09-01 15:00'),
	('BS2', N'Lost', N'The book is lost', 1, '2023-09-01 15:00', '2023-09-01 15:00'),
	('BS3', N'Spoil', N'The book is spoil', 1, '2023-09-01 15:00', '2023-09-01 15:00')
	
-- -------------------------------
-- Table 8: structure for BookTitle
-- -------------------------------
create table BookTitle (
	[Id] varchar(10) not null primary key,
	[IdCategory] varchar(10) not null,
	[Name] nvarchar(100) not null,
	[Note] ntext null default(''),
	[Summary] ntext not null,
	
	foreign key ([IdCategory]) references Category([ID])
)

-- ----------------------------
-- Records of BookTitle
-- ----------------------------
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary]) VALUES (N'BT01', N'C03', N'Tự truyện của 1 luật sư', N'', N'Nội dung hấp dẫn')
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary]) VALUES (N'BT02', N'C01', N'Doraemon', N'', N'Cuốn sách rất thú vị và đáng đọc')
INSERT [dbo].[BookTitle] ([Id], [IdCategory], [Name], [Note], [Summary]) VALUES (N'BT03', N'C02', N'Giết con chim nhại', N'', N'Một cuốn sách tuyệt vời cho những người yêu thích thể loại tiểu thuyết')
	
-- -------------------------------
-- Table 9: structure for BookISBN (sách gốc)
-- -------------------------------
create table BookISBN (
	[ISBN] varchar(10) not null primary key,
	[IdBookTitle] varchar(10) not null,
	[IdAuthor] varchar(10) not null, -- 1 tác giả
	[OriginLanguage] nvarchar(50) not null, -- ngôn ngữ gốc

	[Description] ntext null default(''),
	[Status] bit not null default(1),

	foreign key ([IdBookTitle]) references BookTitle([ID]),
	foreign key ([IdAuthor]) references Author([ID]),
)

-- ----------------------------
-- Records of BookISBN
-- ----------------------------	
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN01', N'BT01', N'A03', N'Tiếng Việt', NULL, 1)
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN02', N'BT01', N'A01', N'Tiếng Nhật', NULL, 1)
INSERT [dbo].[BookISBN] ([ISBN], [IdBookTitle], [IdAuthor], [OriginLanguage], [Description], [Status]) VALUES (N'ISBN03', N'BT01', N'A02', N'Tiếng Pháp', NULL, 1)
	

-- -------------------------------
-- Table 10: structure for Book
-- -------------------------------
create table Book (
	[Id] int not null primary key,
	[ISBN] varchar(10) not null, -- mã sách gốc
	[IdPublisher] varchar(10) not null, -- mã nhà xuất bản
	[IdTranslator] varchar(10) not null, -- mã người dịch
	
	[Language] nvarchar(50) not null, -- ngôn ngữ khác
	[PublishDate] DateTime not null,
	[Price] decimal(12,3) not null,
	[PriceCurrent] decimal(12,3) not null,
	
	[Note] ntext null default(''),
	[IdBookStatus] varchar(10) not null default('BS1'),
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
	
	foreign key ([ISBN]) references BookISBN([ISBN]),
	foreign key ([IdPublisher]) references Publisher([Id]),
	foreign key ([IdTranslator]) references Translator([Id]),
	foreign key ([IdBookStatus]) references BookStatus([Id])
)
-- ----------------------------
-- Records of Book
-- ----------------------------
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (1, N'ISBN01', N'P01', N'T01', N'Tiếng Việt', CAST(0x0000AFD800C5C100 AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS1', 0, CAST(0x0000AFD800C5C100 AS DateTime), CAST(0x0000AFD800C5C100 AS DateTime))
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (2, N'ISBN01', N'P01', N'T01', N'Tiếng Việt', CAST(0x0000AFF600E6B680 AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS1', 1, CAST(0x0000AFF600E6B680 AS DateTime), CAST(0x0000AFF600E6B680 AS DateTime))
INSERT [dbo].[Book] ([Id], [ISBN], [IdPublisher], [IdTranslator], [Language], [PublishDate], [Price], [PriceCurrent], [Note], [IdBookStatus], [Status], [CreatedAt], [ModifiedAt]) VALUES (3, N'ISBN01', N'P02', N'T02', N'Tiếng Việt', CAST(0x0000B01500FF6EA0 AS DateTime), CAST(120.000 AS Decimal(12, 3)), CAST(120.000 AS Decimal(12, 3)), N'', N'BS1', 1, CAST(0x0000B01500FF6EA0 AS DateTime), CAST(0x0000B01500FF6EA0 AS DateTime))
-- -------------------------------
-- Table 11: structure for Parameter
-- -------------------------------
create table Parameter (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(100) not null,
	[Description] ntext not null default(''),
	[Value] varchar(100) not null,
	
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of Parameter
-- ----------------------------
	
-- --------------------------------
-- Table 12: structure for Province
-- -------------------------------=
create table Province (
	[Id] int not null primary key,
	[Name] nvarchar(50) not null,
	
	[Status] bit not null,
)

-- ----------------------------
-- Records of Province
-- ----------------------------
	
-- -------------------------------
-- Table 13: structure for User
-- -------------------------------
create table [User] (
	[Id] varchar(10) not null primary key,
	[Username] varchar(60) not null,
	[Password] varchar(60) not null,
	
	[Note] ntext null default(''),
	[Status] bit not null default(1),
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of User
-- ----------------------------
insert into [User] ([Id], [Username], [Password], [Status], [CreatedAt], [ModifiedAt])
values
	('U1', 'nhatminh', 'nhatminh', 1, '2023-10-20 18:20', '2023-10-20 18:20'),
	('U2', 'hungvuong', 'hungvuong', 1, '2023-10-20 18:25', '2023-10-20 18:25'),
	('U3', 'anhquoc', 'anhquoc', 1, '2023-10-20 18:30', '2023-10-20 18:30')


-- -------------------------------
-- Table 14: structure for UserInfo
-- -------------------------------
create table [UserInfo] (
	[IdUser] varchar(10) not null primary key,
	[LName] nvarchar(60) not null,
	[FName] nvarchar(60) not null,
	[Phone] varchar(12) not null,
	[Address] nvarchar(100) not null,
	
	foreign key ([IdUser]) references [User]([Id]),
)

-- ----------------------------
-- Records of UserInfo
-- ----------------------------
insert into [UserInfo] ([IdUser], [LName], [FName], [Phone], [Address])
values
	('U1', N'Dương Nhật', N'Minh', '0935768249', N'Số 2, Lê Thắng Tôn'),
	('U2', N'Nghiêm Hùng', N'Vương', '0123222111', N'Số 10 Trần Quý Cáp'),
	('U3', N'Lê Anh', N'Quốc', '0901931765', N'Số 9 Lư Giang')

-- -------------------------------
-- Table 15: structure for Role
-- -------------------------------
create table [Role] (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(60) not null,
	[Group] nvarchar(60) not null,
	[Status] bit not null default(1),
)

-- ----------------------------
-- Records of Role
-- ----------------------------
insert into [Role] ([Id], [Name], [Group], [Status])
values
	('R1', N'admin', N'administration', 1),
	('R2', N'librarian 1', N'librarian', 1),
	('R3', N'librarian 2', N'librarian', 1)
	
-- -------------------------------
-- Table 16: structure for UserRole
-- -------------------------------
create table [UserRole] (
	[Id] varchar(10) not null primary key,
	[IdUser] varchar(10) not null,
	[IdRole] varchar(10) not null,
	
	foreign key ([IdUser]) references [User]([Id]),
	foreign key ([IdRole]) references [Role]([Id]),
)

-- ----------------------------
-- Records of UserRole
-- ----------------------------
insert into [UserRole] ([Id], [IdUser], [IdRole])
values
	('UR1', 'U1', 'R1'),
	('UR2', 'U2', 'R2'),
	('UR3', 'U3', 'R3')

-- -------------------------------
-- Table 17: structure for Function
-- -------------------------------
create table [Function] (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(60) not null,
	[Description] ntext not null,
	[IdParent] varchar(10),
	[UrlImage] text,
	[IsAdmin] bit not null default(1),
	[Status] bit not null default(1),
	
	foreign key ([IdParent]) references [Function]([Id]),
)

-- ----------------------------
-- Records of Function
-- ----------------------------
	
-- -------------------------------
-- Table 18: structure for RoleFunction
-- -------------------------------
create table [RoleFunction] (
	[Id] varchar(10) not null primary key,
	[IdRole] varchar(10) not null,
	[IdFunction] varchar(10) not null,
	
	foreign key ([IdRole]) references [Role]([Id]),
	foreign key ([IdFunction]) references [Function]([Id]),
)

-- ----------------------------
-- Records of RoleFunction
-- ----------------------------

-- -------------------------------
-- Table 19: structure for LoanSlip
-- -------------------------------
create table LoanSlip (
	[Id] varchar(10) not null primary key,
	[IdUser] varchar(10) not null,
	[IdReader] varchar(10) not null,
	[Quantity] int not null,
	[LoanDate] DateTime not null,	
	[ExpDate] DateTime not null,
	[LoanPaid] decimal(12,3) not null,
	[Deposit] decimal(12,3) not null,
	
	foreign key ([IdReader]) references [Reader]([Id]),
	foreign key ([IdUser]) references [User]([Id])
)

-- ----------------------------
-- Records of LoanSlip
-- ----------------------------
insert into [LoanSlip]
values
('L01', 'U2', 'R01', 2, '2023-11-22 17:00', '2023-11-29 17:00', 60.000, 109.000),
('L02', 'U2', 'R02', 1, '2023-11-24 15:00', '2023-12-01 15:00', 30.000, 40.000)

-- -------------------------------
-- Table 20: structure for LoanDetail
-- -------------------------------
create table LoanDetail (
	[Id] varchar(10) not null primary key,
	[IdLoan] varchar(10) not null,
	[IdBook] int not null,
	[ExpDate] DateTime not null,
	
	foreign key ([IdLoan]) references [LoanSlip]([Id]),
	foreign key ([IdBook]) references [Book]([Id])
)

-- ----------------------------
-- Records of LoanDetail
-- ----------------------------
insert into [LoanDetail]
values
('LDT01', 'L01', 1, '2023-11-29 17:00'),
('LDT02', 'L01', 4, '2023-11-29 17:00'),
('LDT03', 'L02', 11, '2023-12-01 15:00')

-- -------------------------------
-- Table 21: structure for LoanHistory
-- -------------------------------
create table LoanHistory (
	[Id] varchar(10) not null primary key,
	[IdUser] varchar(10) not null,
	[IdReader] varchar(10) not null,
	[Quantity] int not null,
	[LoanDate] DateTime not null,
	[ExpDate] DateTime not null,
	
	[LoanPaid] decimal(12,3) not null,
	[Deposit] decimal(12,3) not null,
	[FineMoney] decimal(12,3) not null, -- tiền phạt tổng
	[Total] decimal(12,3) not null,
	
	[Note] nvarchar(50),				-- ghi chú
	[CreateAt] DateTime not null,		-- Ngày độc giả trả sách
	
	foreign key ([IdReader]) references [Reader]([Id]),
	foreign key ([IdUser]) references [User]([Id])
)

-- -------------------------------
-- Table 22: structure for LoanDetailHistory
-- -------------------------------
create table LoanDetailHistory (
	[Id] varchar(10) not null primary key,
	[IdLoanHistory] varchar(10) not null,
	[IdBook] int not null,
	[ExpDate] DateTime not null,
	[PaidMoney] decimal(12,3) not null,	-- Tiền phạt
	[Note] nvarchar(50),				-- Ghi chú: Tình trạng sách
	
	foreign key ([IdLoanHistory]) references [LoanHistory]([Id]),
	foreign key ([IdBook]) references [Book]([Id])
)

-- -------------------------------
-- Table 23: structure for PenaltyReason
-- -------------------------------
create table PenaltyReason (
	[Id] varchar(10) not null primary key,
	[Name] nvarchar(100) not null,
	[Description] ntext not null default(''),
	[Price] decimal(12,3) not null,
	
	[CreatedAt] DateTime not null,
	[ModifiedAt] DateTime not null,
)

-- ----------------------------
-- Records of PenaltyReason
-- ----------------------------
